body {
  margin: 0;
  font-family: Arial;
  background: #050b1a;
  color: white;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  height: 55px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: gold;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(120deg, #061a3a, #0b2a55, #000814);
  background-size: 300% 300%;
  animation: moveBG 10s ease infinite;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 72px;
  letter-spacing: 6px;
  margin: 0;
}

.hero p {
  font-size: 20px;
  opacity: 0.8;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 30px;
  background: gold;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

/* SECTIONS */
.section {
  padding: 100px 20px;
  text-align: center;
}

.dark {
  background: #071428;
}

/* FOOTER */
.footer {
  background: #030814;
  padding: 70px 20px;
  text-align: center;
}

.footer-content h3 {
  color: gold;
  letter-spacing: 4px;
}

.socials a {
  display: inline-block;
  margin: 10px;
  padding: 8px 12px;
  border: 1px solid rgba(255,255,255,0.2);
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.socials a:hover {
  background: gold;
  color: black;
}

.copy {
  margin-top: 30px;
  opacity: 0.5;
  font-size: 12px;
}

/* ANIMATION */
@keyframes moveBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
